.container-fluid {
    margin-top: 60px;
    margin-bottom: 60px;
}

h2, h4, form {
    text-align: center;
}

.alert {
    width: 300px;
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    margin: auto;
    transition: all ease 0.3s;
    transform: translateY(0);
}

.alert.hidden {
    display: block !important;
    pointer-events: none;
    opacity: 0;
    transform: translateY(-50px);
}