/* Style sheet for BUPTRA official webiste */

body {
    font-family: "San Francisco", "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft Yahei", "WenQuanYi Micro Hei", sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    text-align: center;
}

p.obj {
    color: red;
    text-align: center;
    font-weight: bold;
}

p.msg {
    color: #888888;
    /*text-indent: 2em;*/
    text-align: center;
    font-style: italic;   
    font-weight: bold;
}

p.link {
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

p.center {
    text-align: center;
}

img.threelogos {
    max-width: 822px;
}

img.poster {
    max-width: 1163px;
}

img.qrcode {
    max-width: 540px;
}
