<div id="campaign">
  <table>
    <tr>
      <th class="col1">所属阵营</th>
      <th class="col2">任务简介</th>
      <th class="col3">任务名称</th>
      <!-- <th>通关视频</th> -->
    </tr>

    {% for mission in site.data.campaign %}
      {% for faction_info in site.data.factions %}
        {% if faction_info.short == mission.faction %}
          {% assign faction_name = faction_info.name %}
          {% assign faction_class = faction_info.class %}
        {% endif %}
      {% endfor %}
      <tr class = "{{ faction_class }}">
        <td>
          {{ faction_name }}
        </td>
        <td>
          {{ mission.summary }}
        </td>
        <td>
          <a href="https://www.bilibili.com/video/av{{ mission.vid }}/">
            {{ mission.name }}
          </a>
        </td>
      </tr>
    {% endfor %}
    <td>
    </td>
  </table>
</div>
