<div id="catalog">
  {% for item in site.data.navigation %}
    <a href="{{ item.link }}" {% if page.url == item.link %}class="current"{% endif %}>
      {{ item.name }}
    </a>
    {% if page.url contains item.link and item.subitems[0] %}
      <ul>
        {% for subitem in item.subitems %}
          <li>
            <a href="{{ subitem.link }}" {% if page.url == subitem.link %}class="current"{% endif %}>
              <small>{{ subitem.name }}</small>
            </a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    <hr/>
  {% endfor %}
</div>
